.top{
    padding-top: 30px;
    background-color: rgba(214, 213, 209, 0.8);
    color: #0e0c0c;
    font-family: 'Pacifico';
    line-height: 24px;
    height: 100px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    font-size: 30px;
}
.container-fluid{
    padding-left: 100px;
}
/*navbar */
.navbar-custom {
    background-color: #ff5500;
    position: relative;
    z-index: 2;
    font-size: 15px;
    width: 100%;
    padding: 0;
    font-family: 'Noto Sans JP';
    letter-spacing: 1px;
    color:rgba(255,255,255,.8);
}

/* change the brand and text color */
.navbar-custom .navbar-button {
    color: rgba(255,255,255,.8);
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    padding: 10px 15px 9px 15px !important;
}

/* change the link color */
.navbar-custom .nav.navbar-nav .nav-link {
    color: rgba(7, 7, 7, 0.7);
    font-weight: bolder;
    font-size: 14px;
}
.collapse{
    text-align: center;
}

.caret:before {
    content: '';
    position: absolute;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
  }
  
  .caret:after {
    content: '';
    position: absolute;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
  }
/* change the color of active or hovered links */



